.about {
  padding-top: 50px;
  padding-bottom: 120px;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 93%;
  text-align: center;
  color: #FFFFFF;
}

.about-container p {
  line-height: 30px;
  font-size: 1rem;
  font-weight: 300;
}

.hr-tag {
  padding-bottom: 80px;
  border-bottom: 0.5px solid #312343;
}

.stat-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin-top: 80px;
}

.stat {
  font-size: 3rem;
  margin-bottom: 16px;
  color: #00FF88;
}
