footer {
  background-image: url(../assets/footer-bg.png);
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #250D44;
}

.footer-section {
  max-width: 530px;
  margin: 0 auto;
  text-align: center;
}

.footer-section h1 {
  font-size: 4rem;
  margin-bottom: 10px;
}

.media {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: space-between;
  margin-bottom: 32px;
  
}

.logo {
  display: flex;
  gap: 5px;
}

footer p {
  color: #aa9fb8;
}