.navbar {
  justify-content: space-between;
  margin: 0 auto;
  width: 93%;
  max-width: 1200px;
  align-items: center;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 0.5px solid #412567;
}

.title h1 {
  color: #FFFFFF;
  font-size: 2.5rem;
}

.unordered {
  gap: 30px;
}

.unordered li {
  list-style: none;
}

.unordered a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
}

.btn1 {
  font-weight: 600;
  color: #FFFFFF;
  font-size: 1rem;
  border: none;
  border-radius: 10000px;
  padding: 12px 16px;
  transition: opacity 0.3s;
}

.btn1:hover {
  cursor: pointer;
  opacity: 0.9;
}

.hamburger {
  display: none;
}