@media screen and (max-width: 576px) {
  .navlink, .noshow {
    display: none;
  }

  .hamburger {
    display: block;
    background: none; 
    border: none;     
    cursor: pointer;
  }

  .fa-bars {
    color: #FFFFFF;
    font-size: 1.5rem;
  }

  .banner {
    height: auto;           
    padding: 60px 20px;     
  }

  .banner h1 {
    font-size: 2.9rem;
  }

  .herostuff {
    width: 250px;           
    height: 250px;
    margin-top: 0;          
    margin-bottom: 20px;
  }

  .new {
    top: 20px;
    right: 10px;
    font-size: 0.7rem;      
  }

  .mic {
    width: 80px;            
  }

  .hr-tag {
    padding-bottom: 40px;
  }

  .about, .grider {
  padding-top: 40px;
  padding-bottom: 40px;
  }

  .about-container br {
    display: none;
  }

  .hr-tag {
    margin-top: 20px;
  }

  .stat-grid {
  grid-template-columns: repeat(2, 1fr);
  margin-top: 40px;
  gap: 40px;
  }

  .title-h2 {
  font-size: 2rem;
  }

  .about-container p {
    font-weight: 300;
  }

  .grid-item h3 {
    font-size: 1.375rem;
  }

  .audio, .device, .location
  .resource, .interview {
    padding: 24px;
  }

  .grid-space {
    grid-template-areas: none;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }

  .grid-item {
    grid-area: auto; 
    width: 100%;
  }

}